/* Gerais Inicio */
.container{
  background-color: black;
  color: white;
}

.container-back{
  background-color: black;
}

.section{
  margin-top: 0px;
}

.body{
  background-color: black;
}

/* Gerais Fim */
/* Header Inicio */
.header {
  text-align: center;
}

.header-area {
  padding: 20px;
}

.logo {
  width: 150px;
  filter: grayscale(100%);
}

.nav-bar ul {
  padding-top: 50px;
}

.nav-bar a {
  color: white;
}

.pesquisa form {
  padding-top: 50px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .nav-bar ul {
    padding-top: 1px;
  }

  .pesquisa form {
    padding-top: 5px;
  }

  .pesquisa {
    width: 100%;
  }
}
/* Header Fim */

/* Lançamentos Inicio */

 h1{
  color: #E50914;
}

.carousel-item .row {height: 370px;}

.video-youtube iframe {width: 100%;}

.carousel-control-prev{
  justify-content: flex-start;
}

.carousel-control-next{
  justify-content:flex-end;
}

@media screen and (min-width:0px) and (max-width:768px) {
  .carousel-item .row {
    height: 650px;
  }

  .descricao-filme{
    padding: 20px;
  }
}

@media screen and (min-width:0px) and (max-width:1200px) {
  .elenco {
    visibility: hidden;
  }

  .avaliacao{
    visibility: hidden;
  }
}

/* Lançamentos Fim */

/* Destaques Inicio */

.destaques{
  margin-bottom: 20px;
}

.destaques-area{
  padding-top: 20px;
}

.destaques-area div{
  align-items: center;
}

.destaques-area .destaque-titulo h1{
  margin-left: 50px;
}

.destaques-area img{
  width: 100%;
}

.images-area{
  margin-top: 25px;
  margin-bottom: 10px;
}

.images-area img{
  height: 450px;
}

.images-area div{
  margin-bottom: 15px;
}

.dropdown{
  margin-bottom: 20px;
}

@media screen and (min-width:576px) and (max-width:768px) {
  .images-area > div:nth-child(3){
    display: none;
  }

  .images-area > div:nth-child(4){
    display: none;
  }
}

@media screen and (min-width:0px) and (max-width:576px) {
  .images-area > div{
    display: none;
  }

  .images-area > div:nth-child(1){
    display:block;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .images-area > div:nth-child(3){
    display: none;
  }

  .images-area > div:nth-child(4){
    display: none;
  }
}

/* Destaques Fim */

/* Últimas avaliações inicio */

.avaliacoes-area{
  margin-top: 20px;
}

.card{ 
  margin-bottom: 20px;
  color: black;
}

.card-avaliacoes{
  height: 300px;
}

.card-header{
  width: 100%;
}

.card-header img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.card-header p{
  font-size: 17px;
}

.card-footer{
  width: 100%;
}

.card-footer div{
  margin-left: 20px;
}

@media screen and (min-width:0px) and (max-width:576px) {
  .avaliacoes-area > div{
    display: none;
  }

  .avaliacoes-area > div:nth-child(1){
    display: block;
  }

  .carousel-item .row {
    height: 650px;
  }

  .descricao-filme{
    padding: 20px;
  }
}


@media screen and (min-width:576px) and (max-width:768px) {
  .avaliacoes-area > div{
    display: none;
  }

  .avaliacoes-area > div:nth-child(1){
    display: block;
  }

  .avaliacoes-area > div:nth-child(2){
    display: block;
  }

  .card-avaliacoes{
    height: 300px;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .avaliacoes-area > div{
    display: none;
    margin-right: 50px;
  }

  .avaliacoes-area > div:nth-child(1){
    display: block;
  }

  .avaliacoes-area > div:nth-child(2){
    display: block;
  }

  .card-avaliacoes{
    height: 300px;
    width: 120%;
  }
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .card-avaliacoes{
    height: 350px;
  }
}

/* Últimas avaliações fim */

/* Entrevistas e Making of Inicio */
.entrevistas{
  margin-bottom: 20px;
}

.card iframe{
  width: 100%;
  margin-top: 10px;
}

.entrevistas-area{
  margin-bottom: 20px;
}

.entrevistas-area div{
  margin: 5px 5px;
}

.card-entrevistas{
  padding-right: 20px;
}

@media screen and (min-width:0px) and (max-width:576px) {
  .entrevistas-area > div{
    display: none;
  }

  .entrevistas-area > div:nth-child(1){
    display: block;
  }

  .carousel-item .row {
    height: 650px;
  }

  .descricao-filme{
    padding: 20px;
  }
}

@media screen and (min-width:576px) and (max-width:768px) {
  .entrevistas-area > div:nth-child(3){
    display: none;
  }

  .avaliacoes-area > div:nth-child(3){
    display: none;
  }

  .images-area > div:nth-child(3){
    display: none;
  }

  .images-area > div:nth-child(4){
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .entrevistas-area > div:nth-child(3){
    display: none;
  }
}

/* Entrevistas e Making of Fim */

/* Novidades Inicio */

h1{
  margin-bottom: 20px;
}

.novidades-area{
  padding-right: 10px;
}

.card-novidades{
  margin-bottom: 10px;
}

.card-novidades .row{
  height: 150px;
}

.card-novidades-img{
  height: 100%;
}

.card-novidades-img img{
  width: 100%;
  height: 95%;
}

.card-novidades{
  border-bottom: 1px solid #727272; 
}

.card-novidades-body p{
  padding-bottom: 10px;
}

.sobre-area{
  padding-left: 50px;
  padding-right: 0px;
}
.editorial-footer{
  padding-top: 10px;
  padding-top: 10px;
}

.editorial-footer img{
  height: 50px;
  width: 50px;

  padding-top: 5px;
  padding-right: 5px;
  
}

@media screen and (min-width:0px) and (max-width:576px) {
  .novidades-area > div:nth-child(3){
    display: none;
  }

  .card-novidades .row{
    height: 190px;
  }  
}

@media screen and (min-width:576px) and (max-width:768px) {
  .novidades-area > div:nth-child(3){
    display: none;
  }

  .card-novidades .row{
    height: 170px;
  } 
}

@media screen and (min-width:768px) and (max-width:992px) {
  .novidades-area > div:nth-child(3){
    display: none;
  }

  .card-novidades .row{
    height: 170px;
  }  

  .card-novidades-body{
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* Novidades Fim */

/* Rodapé Inicio */

.footer-area{
  color: white;
}

.footer-area img{
  width: 100px;
}

.footer-area p{
  margin-top: 40px;
}

/* Rodapé Fim */

